<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px"> 
  <div fxFlex.gt-sm="70%">
    <div>
      <div>
        <div style="float: right;margin-bottom: 8px;" *ngIf="addService===false">
          <button mat-raised-button color="warning" style="background-color:#f37638;color: white;margin-top: 35%;" (click)="onAddServices()">
            Add Services
          </button>
          <!-- <div *ngIf="flight.services">
            <div>
              <div *ngFor="let service of flight.services">
                {{ service }}
              </div>
            </div>
          </div> -->
        </div>
        <div class="container" *ngIf="addService===true" style="float: right;">
          <div class="row">
            <div class="col-xs-4">
    
            </div>
              <div class="col-xs-8">
                  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
                    <div class="col-xs-4" style="margin-top: 3%;">
                      <div class="form-group">
                          
                          <input type="text" placeholder="Service..." class="form-control" id="service" formControlName="service">
                      </div>
                      </div>
                      <div class="col-xs-4" style="margin-top: 3%;">
                      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                      <button (click)="cancelAddService()"  class="btn btn-warning">Cancel</button>
                      </div>
                      <!-- <div class="col-xs-2" style="margin-top: 3%;">
                        <button (click)="cancelAddService()"  class="btn btn-warning">Cancel</button>
                        </div> -->
                  </form>
              </div>
          </div>
      </div>
        <table>
          <tr>
            <th>Name</th>
            <th>To</th>
            <th>From</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Services</th>
          </tr>
          <tr>
            <td>{{ flight.name }}</td>
            <td>{{ flight.to }}</td>
            <td>{{ flight.from }}</td>
            <td>{{ flight.timeOfDeparture | date:"medium" }}</td>
            <td>{{ flight.timeOfArrival  | date:"medium"}}</td>
            <td>{{services}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div style="margin-top: 2%;margin-bottom: 3%;">
     
      <!-- <mat-grid-list cols="2" rowHeight="3:1" > -->
        
        <!-- <mat-grid-tile> -->
           <button mat-raised-button style="background-color: #f37638;color: white;float: right;" (click)="onAddPassenger()">
          <mat-icon>add</mat-icon>Add Passenger
        </button>
      <!-- </mat-grid-tile> -->
        <!-- <mat-grid-tile> -->
          
             
         
          <mat-form-field class="search-form-field" floatLabel="never" style="background: none;">
            <input
              matInput
              style="width: 30%;"
              [(ngModel)]="searchKey"
              placeholder="search"
              autocomplete="off"
              (keyup)="applyFilter()"
            />
            <!-- <mat-icon matPrefix>search</mat-icon> -->
          </mat-form-field>
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            *ngIf="searchKey"
            (click)="onSearchClear()"
          >
            <!-- <mat-icon>close</mat-icon> -->
            </button>
        <!-- </mat-grid-tile> -->
        <!-- <mat-grid-tile>4</mat-grid-tile> -->
      <!-- </mat-grid-list> -->
    </div>
    
    <div mat="mat-elevation-z8" style="margin-top: -2%;" >
      <mat-table [dataSource]="listPassenger" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Name</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.name }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="passport">
          <mat-header-cell *matHeaderCellDef mat-sort-header
          style="padding: 0px;align-items: center;justify-content: center;" >Passport</mat-header-cell
          >
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.id }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="service">
          <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">Service</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.service }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="seat">
          <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">Seat No</mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
            element.seatNumber.seatno
          }}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;"></mat-header-cell>
          <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">
            <button mat-icon-button (click)="onEditPassenger(element)">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayPassengerColumns">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayPassengerColumns"> </mat-row>
        <mat-footer-row></mat-footer-row>
      </mat-table>
      <mat-paginator
        [pageSizeOptions]="[1, 5, 10, 25, 100]"
        [pageSize]="5"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>

  </div>
  <div class="seat" fxFlex.gt-sm="30%">
   <app-seatmap></app-seatmap>
  </div>
  </div>


  