<div class="container" >
 <div *ngIf="isAdminLogged"> 
  <div class="row">
      <div class="col-xs-12">
        <table>
          <tr>
            <th>Flight No</th>
            <th>Airline</th>
            <th>Departure Station</th>
            <th>Arrival Station</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
          </tr>
          <tr>
            <td>{{flight.flightNo}}</td>
            <td>{{ flight.airline }}</td>
            <td>{{ flight.departureStation }}</td>
            <td>{{ flight.arrivalStation }}</td>
            <td>{{ flight.departureDate | date:"medium" }}</td>
            <td>{{ flight.arrivalDate | date:"medium"}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div style="margin-top: 1%;margin-bottom: 5%">
    <button mat-raised-button style="background-color: #f37638;color: white;float: right;" (click)="onAddPassenger()">
      <mat-icon>add</mat-icon>Add Passenger
    </button>
    </div>
  <div mat="mat-elevation-z8" style="margin-top: 50px;" >
  <mat-table [dataSource]="listPassenger" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 0px;align-items: center;justify-content: center;">Name</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="passportNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header
      style="padding: 0px;align-items: center;justify-content: center;" >Passport Number</mat-header-cell
      >
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.passportNumber }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkinStatus">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">CheckInStatus</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{ element.checkinStatus }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="passengerType">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">Passenger Type</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
        element.passengerType
      }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="seatNumber">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;">SeatNumber</mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">{{
        element.seatNumber
      }}</mat-cell>
    </ng-container>
     
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef style="padding: 0px;align-items: center;justify-content: center;"></mat-header-cell>
      <mat-cell *matCellDef="let element" style="padding: 0px;align-items: center;justify-content: center;">
        <button mat-icon-button (click)="onEditPassenger(element)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayPassengerColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayPassengerColumns"> </mat-row>
  </mat-table>
  </div>
  </div>

  <div *ngIf="!isAdminLogged">
    <div *ngIf="loggedIn">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        <div class="container-fluid">
          <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-top: 8px;font-size: 33px;">home</mat-icon>
          <ul class="nav navbar-nav navbar-right marginalign">
            <!-- <span><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></span> -->
            <span> username : {{loginUserName}}</span>
            <span> role : {{userRole}} </span>
            <span></span>&nbsp; 
            <span>
            <button mat-raised-button color='primary' (click)="onLogout()"  type="submit" style="background-color:#337ab7;color:white" class="buttoncolor">Logout</button>
            </span>
            <!-- <span><button (click)="onLogout()">Logout</button></span> -->
          </ul>
        </div>
      </nav>
    </div>
    
    
    
      
    <div className = "row" style="display: flex;align-items: center;justify-content: center;margin-top: 17%;">
      <div className = "col-md-6 col-sm-6" style="margin-right: 120px;" >
          <div onClick = {this.props.onCheckinClick}>
              <div>
                  <img height="200px" style="cursor: pointer;margin-top: -14%;"
                  alt="Checkin Operations" (click)="onCheckIn()"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWZK6hL3LvQgHlXN0aolSEG60t2jTsyFCcPzX1EggvKUD6-m77&s"/>
              </div>
              <div style="margin-left: 20%;margin-top: 10%;">Checkin Operations</div>
          </div>
      </div>
      <div className = "col-md-6 col-sm-6">
          <div onClick={this.props.onInFlightClick}>
              <div>
                  <img height="200px"
                  alt="In-Flight Operations"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOiE1oUcgX93KXVIRkKyftNCWMET9nkRPPlE9d-Z91sFAEB-yG&s"/>
              </div>
             <div style="margin-left: 26%;">In-Flight Operations</div> 
          </div>
      </div>
  </div>
  <!-- <div class="row">
    <mat-card class="flight-details-card">
        <mat-card-title>Welcome to {{flight.airline}} airlines</mat-card-title>
        <br>
        <mat-card-title>Departure Details</mat-card-title>
    <mat-card-content>
      <mat-card-subtitle> Departure City : {{flight.departureStation}}</mat-card-subtitle>
      <mat-card-subtitle> Departure Time: {{flight.departureDate | date:"medium"}}</mat-card-subtitle>  
    </mat-card-content>
   
    <mat-card-title>Arrival Details</mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>Arrival City : {{flight.arrivalStation}}</mat-card-subtitle>
      <mat-card-subtitle>Arrival Time : {{flight.arrivalDate}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn btn-primary" (click)="onCheckIn()">CheckIn123</button>
      <button class="btn btn-primary">InFlight</button>
    </mat-card-actions>
  </mat-card>
  <div>
  <div>
    <img height="200px"
    alt="Checkin Operations"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWZK6hL3LvQgHlXN0aolSEG60t2jTsyFCcPzX1EggvKUD6-m77&s"/>
</div>
Checkin Operations
</div>
  
  </div> -->

  </div>
  </div>    