<div class="container" style="display: flex;">
    <div *ngFor="let row of arrayOfArrays; let i = index">
      <div *ngFor="let elementrow of row">
        <ul style="list-style-type:none;">
          <li>
            <button
              class="seat"
              (onclick)="seatSelected(elementrow)"
              mat-raised-button
              [ngStyle]="{ background: elementrow.color}"
              style="color: white;"
            >
              <mat-icon>airline_seat_recline_normal</mat-icon
              >{{ elementrow.seatno }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  